:root {
    --white: #ffffff;
    --radiate: #F8D90A;
    --galaxy: #393931;
    --space: #2d2d2a;
    --rock: #2d2d2a;
    --cosmic: #F6D917;
    --sun: #ffac2f;
    --electron: #46ebe1;
    --neutron: #cff3cf;
    --supernova: #ffdd00;
    --asteroid: #e3cee3;
}

[data-md-color-scheme="fastrtc-dark"] {
    --md-default-bg-color: var(--galaxy);
    --md-default-fg-color: var(--white);
    --md-default-fg-color--light: var(--white);
    --md-default-fg-color--lighter: var(--white);
    --md-primary-fg-color: var(--space);
    --md-primary-bg-color: var(--white);
    --md-accent-fg-color: var(--cosmic);

    --md-typeset-color: var(--white);
    --md-typeset-a-color: var(--radiate);
    --md-typeset-mark-color: var(--sun);

    --md-code-fg-color: var(--white);
    --md-code-bg-color: var(--rock);

    --md-code-hl-comment-color: var(--asteroid);
    --md-code-hl-punctuation-color: var(--asteroid);
    --md-code-hl-generic-color: var(--supernova);
    --md-code-hl-variable-color: var(--starlight);
    --md-code-hl-string-color: var(--radiate);
    --md-code-hl-keyword-color: var(--supernova);
    --md-code-hl-operator-color: var(--supernova);
    --md-code-hl-number-color: var(--electron);
    --md-code-hl-special-color: var(--electron);
    --md-code-hl-function-color: var(--neutron);
    --md-code-hl-constant-color: var(--radiate);
    --md-code-hl-name-color: var(--md-code-fg-color);

    --md-typeset-del-color: hsla(6, 90%, 60%, 0.15);
    --md-typeset-ins-color: hsla(150, 90%, 44%, 0.15);

    --md-typeset-table-color: hsla(0, 0%, 100%, 0.12);
    --md-typeset-table-color--light: hsla(0, 0%, 100%, 0.035);
}

[data-md-color-scheme="astral-dark"] div.admonition {
    color: var(--md-code-fg-color);
    background-color: var(--md-code-bg-color);
}